.container-fluid{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    word-spacing: 3px;
    background-image:url(assets/background.jpg);
background-size: cover;
padding: 20px;}

#pythonImg{
width: 350px;
}
li {
    margin: 0;
	padding: 3px 0 3px 15px;
	list-style: none;
	background-image: url("assets/left.png");
	background-repeat: no-repeat;
	background-position: left center;
	background-size: 10px;
  }
.search-box{
    background-color: rgba(244, 249, 254,0.7);
    -moz-box-shadow: 10px 10px 5px #ccc;
    -webkit-box-shadow: 10px 10px 5px #ccc;
    box-shadow: 5px 5px 5px #ccc;
    -moz-border-radius:5px;
    -webkit-border-radius:10px;
    border-radius:5px;
}

.search{
    border-radius: 10px;
    border: solid rgb(212, 212, 212);
}
.nav{
    background: rgb(233, 245, 253);
    background: linear-gradient(180deg, rgba(248, 249, 250, 0.639) 0%, rgba(0,127,212,0.16523704208245793) 48%, rgba(243, 246, 248, 0.689) 100%);
margin-left: 350px;
margin-right: 200px;
border-radius: 5px;

}

.white{
color: #ccc;
}
.nav-link{
    color: rgb(255, 255, 255) !important;
}
#carouselExampleCaption{
  width: fit-content ;
}
.cap1{
    top: 36%;
    transform: translateY(-50%);
}

.cap2{
    top: 55%;
    transform: translateY(-50%);
}
.cap3{
    top: 45%;
    transform: translateY(-50%);
}
.back{
    width: 800px;
    height: 500px;
    border-radius: 10px;
}
.text-size{
    color:antiquewhite;
}

.yellow{
    color: rgb(255, 233, 70);
    text-align: center;
}

.about{
    color: rgb(255, 255, 255);
}
.last{
    text-align: center;
}


.goBtn{
    align-items: center;
    appearance: none;
    background-image: radial-gradient(100% 100% at 100% 0, #5adaff 0, #5468ff 100%);
    border: 0;
    border-radius: 6px;
    box-shadow: rgba(45, 35, 66, .4) 0 2px 4px,rgba(45, 35, 66, .3) 0 7px 13px -3px,rgba(58, 65, 111, .5) 0 -3px 0 inset;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    padding-top: 6px;
    padding-bottom: 6px;
    justify-content: center;
    list-style: none;
    overflow: hidden;
    position: relative;
    text-align: left;
    text-decoration: none;
    transition: box-shadow .15s,transform .15s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    will-change: box-shadow,transform;
 
}

.goBtn:focus {
    box-shadow: #3c4fe0 0 0 0 1.5px inset, rgba(45, 35, 66, .4) 0 2px 4px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
  }
  
  .goBtn:hover {
    box-shadow: rgba(45, 35, 66, .4) 0 4px 8px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
    transform: translateY(-2px);
  }
  
  .goBtn:active {
    box-shadow: #3c4fe0 0 3px 7px inset;
    transform: translateY(2px);
  }




